.card {
    height: 700px;
}
.search-area {
    font-weight: 600;
    font-size: 22px;
}
select {
    margin: 0 30px;
    font-size: 20px;
    padding: 5px 10px;
}
button {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #c2c7d2;
    outline: none;
    background: #E3E9F8;
}
button:hover {
    background: #bec8e1;
}
button a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.left-area {
    height: 800px;
}

/* Responsive */
@media only screen and (max-width: 645px) {
    .search-area {
        font-size: 18px;
    }
    select {
        margin: 0 10px;
        font-size: 16px;
    }
    button a {
        font-size: 16px;
    }
}
@media only screen and (max-width: 520px) {
    select {
        width: 100%;
        display: block;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}